<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <!-- <a class="navbar-brand fw-bold" routerLink="">HolFin Life</a> -->
      <a class="navbar-brand" routerLink="">
        <img [src]="logo" alt="HolFin Life" width="200" height="70">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">HolFin Life</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item me-4">
              <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="" (click)="close()">Home</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link" routerLinkActive="active" routerLink="about" (click)="close()">About Us</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link" routerLinkActive="active" routerLink="services" (click)="close()">Services</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link" routerLinkActive="active" routerLink="contact" (click)="close()">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  
  
  
  
  
  